{
  "swagger": "2.0",
  "info": {
    "version": "4.3.0",
    "title": "Blend API",
    "contact": {}
  },
  "host": "api.beta.blendlabs.com",
  "basePath": "/",
  "securityDefinitions": {
    "auth": {
      "type": "basic"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/authentication-status": {
      "get": {
        "description": "Checks to see if the current user is authenticated with Blend. Primarily for integration use cases to avoid retries downstream in the workflow.",
        "summary": "Check Authentication Status",
        "tags": [
          "Auth"
        ],
        "operationId": "CheckAuthenticationStatus",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "User Auth Status Result",
            "schema": {
              "$ref": "#/definitions/AuthenticationStatusResponse"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/file-export": {
      "get": {
        "description": "Return the entire MISMO 3.3.1 or Fannie 3.2 file for this application.",
        "summary": "Export Application Data",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "ExportApplicationData",
        "deprecated": false,
        "produces": [
          "text/plain; charset=utf-8",
          "application/xml; charset=utf-8",
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "enum": [
              "fannie",
              "mismo"
            ],
            "type": "string",
            "description": "The requested data format for the response"
          }
        ],
        "responses": {
          "200": {
            "description": "Data Exported Successfully",
            "schema": {
              "type": "string",
              "default": ""
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications": {
      "post": {
        "description": "Create a new application in Blend with minimal borrower and application data. This endpoint is usually used to create applications in Blend from CRMs or other central borrower databases.",
        "summary": "Post Home Lending Application",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PostHomeLendingApplication",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Application Creation Body",
            "schema": {
              "$ref": "#/definitions/ApplicationRequestSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New Application",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsResponse"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "id": "aa9fdaa2-7bf3-4411-a836-c2a46117f5c3",
                "solutionSubType": "MORTGAGE",
                "parties": [
                  {
                    "id": "18c3e52a-c7e7-4c6d-a36f-d5bca568613a",
                    "name": {
                      "firstName": "Tanya",
                      "middleName": "M",
                      "lastName": "Williams",
                      "suffixName": "III"
                    },
                    "type": "BORROWER",
                    "customFields": {},
                    "customMetadata": {}
                  }
                ],
                "customFields": {},
                "customMetadata": {}
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "422": {
            "description": "Invalid Update",
            "schema": {
              "$ref": "#/definitions/InvalidUpdateErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "get": {
        "description": "Get a paginated list of active applications sorted by creation date descending. This endpoint also supports a few filtering parameters.",
        "summary": "Get Home Lending Applications",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetHomeLendingApplications",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of applications to be returned for this call. Minimum is 1, maximum is 100, default is 50."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An opaque string used for pagination, pass the cursor back to start at this position"
          },
          {
            "name": "losId-exists",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If losId-exists is true, then the response only contains applications that have losId set. If losId-exists is false, then the response only contains applications that do not have losId set. Otherwise, the response returns applications independent of the losId field."
          },
          {
            "name": "crmId-eq",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters the list of applications to applications that have the same crmId."
          },
          {
            "name": "party-email-eq",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters the list of applications to applications that have a party with the same email."
          },
          {
            "name": "losId-eq",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters the list of applications to applications that have the same losId."
          },
          {
            "name": "exportable",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If exportable is true, then the response contains the list of applications that can be exported (e.g. borrower submitted, lender clicks export, or trid is triggered). If exportable is false, then the response contains the list of applications that cannot be exported. If omitted, the response returns applications independent of exportable field."
          },
          {
            "name": "assigneeIds-eq",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filters the list of loans to loans that have at least one matching assignee. The assignee Ids are UUIDs of the lender users in Blend's system."
          },
          {
            "name": "solution-sub-type",
            "in": "query",
            "required": false,
            "enum": [
              "CANADA_MORTGAGE",
              "HELOAN",
              "HELOC",
              "MORTGAGE",
              "MORTGAGE_MODIFICATION",
              "OTHER"
            ],
            "type": "string",
            "description": "Filters the list of loans to loans with a matching solution subtype."
          }
        ],
        "responses": {
          "200": {
            "description": "List of paginated applications, with cursors to go the next or previous pages.s",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsResponse1"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "422": {
            "description": "Invalid Update",
            "schema": {
              "$ref": "#/definitions/InvalidUpdateErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/los-milestones": {
      "post": {
        "description": "Bulk update a list of applications to specific LOS milestones. Only accepts LOS milestones that have been added to customer configuration. Does not allow applications to transition to previous milestones (e.g. APPROVED --> UNDERWRITING), unless parameter 'override' is set to true.",
        "summary": "Post LOS Milestones",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PostLOSMilestones",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "List of application ids and the milestones to update them to",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsLosMilestonesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All Milestones Updated Successfully",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsLosMilestonesResponse"
            },
            "headers": {}
          },
          "207": {
            "description": "Some Milestones Not Successfully Updated",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsLosMilestonesResponse1"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/export-statuses": {
      "get": {
        "description": "A bulk endpoint to get the export statuses for a list of applications",
        "summary": "Get Export Statuses",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetExportStatuses",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Application IDs to query for"
          }
        ],
        "responses": {
          "200": {
            "description": "All Export Statuses Retrieved Successfully",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsExportStatusesResponse"
            },
            "headers": {}
          },
          "207": {
            "description": "Some Export Statuses Not Successfully Retrieved",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsExportStatusesResponse1"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/export-status": {
      "post": {
        "description": "Update export status on an application",
        "summary": "Post Export Status",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PostExportStatus",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PostExportStatusSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export Status Updated Successfully",
            "schema": {
              "$ref": "#/definitions/PostExportStatusSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}": {
      "get": {
        "description": "Get application summary in JSON.",
        "summary": "Get Application Data",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetApplicationData",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Data Exported Successfully",
            "schema": {
              "$ref": "#/definitions/ApplicationSchema"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "Delete an application",
        "summary": "Delete Application Data",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "DeleteApplicationData",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Application Deleted Successfully",
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "patch": {
        "description": "Update some properties on a specific application.",
        "summary": "Patch Application",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PatchApplication",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "Application Update Body",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application Updated Successfully",
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/documents": {
      "get": {
        "description": "Get a list of all the uploaded and signature complete documents on a specific application, ordered by document creation date.",
        "summary": "Get Application Documents",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetApplicationDocuments",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "includeAllDocuments",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If true, returns a list of all the documents on the application, including signature pending documents."
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsDocumentsResponse"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/parties": {
      "get": {
        "description": "Get a list of all parties on the application (with their econsent status)",
        "summary": "Get Application Parties",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetApplicationParties",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "List of Parties",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsPartiesResponse"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "parties": [
                  {
                    "id": "cc730ed3-0d46-493d-bd85-8cddc60e45d1",
                    "applicationId": "70e7df4a-29d8-4f0d-90cd-f4604e45e0b5",
                    "email": "twilliams@email.com",
                    "type": "BORROWER",
                    "name": {
                      "firstName": "Tanya",
                      "middleName": "M",
                      "lastName": "Williams",
                      "suffixName": "III"
                    },
                    "status": "INVITED",
                    "econsent": {
                      "status": "Pending"
                    },
                    "phoneNumbers": [
                      {
                        "phoneNumber": "11122223333",
                        "type": "HOME"
                      }
                    ],
                    "addresses": [
                      {
                        "type": "CURRENT",
                        "address": {
                          "streetAddressLine1": "100 main st",
                          "streetAddressLine2": "132",
                          "city": "Chicago",
                          "state": "IL",
                          "zipCode": "70007",
                          "zipCodePlusFour": "1000"
                        }
                      }
                    ],
                    "relationship": {},
                    "loginMethod": "EMAIL",
                    "dateOfBirth": "2000-10-03T20:07:27.000Z",
                    "taxpayerIdentifier": {
                      "type": "SOCIAL_SECURITY_NUMBER",
                      "value": "000113933"
                    },
                    "customFields": {},
                    "customMetadata": {}
                  },
                  {
                    "id": "7ee059cc-1815-4c6b-92d8-a650579102a6",
                    "applicationId": "70e7df4a-29d8-4f0d-90cd-f4604e45e0b5",
                    "losPartyId": "losParty2",
                    "email": "james@email.com",
                    "type": "SPOUSE",
                    "name": {
                      "firstName": "James",
                      "middleName": "William",
                      "lastName": "Horton",
                      "suffixName": "3rd"
                    },
                    "econsent": {
                      "status": "Pending"
                    },
                    "phoneNumbers": [],
                    "relationship": {},
                    "customFields": {},
                    "customMetadata": {}
                  }
                ]
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/underwriting-results": {
      "get": {
        "description": "Get a list of all underwriting results on the application",
        "summary": "Get Application Underwriting Results",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetApplicationUnderwritingResults",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "List of Underwriting Results",
            "schema": {
              "type": "array",
              "default": "",
              "items": {
                "$ref": "#/definitions/UnderwritingResultSchema"
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/borrower-positions": {
      "get": {
        "description": "Get the list of borrower pairs on the application",
        "summary": "Get Borrower Positions",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetBorrowerPositions",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Application Borrower Positions",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsBorrowerPositionsResponse"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Update the location of borrowers on the application (by 1003/borrower pairing and location in the borrower pair)",
        "summary": "Put Borrower Positions",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PutBorrowerPositions",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "New Borrower Pair",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsBorrowerPositionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Upserted Borrower Positions",
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/los-milestones": {
      "get": {
        "description": "Get the current los milestone on the application",
        "summary": "Get Los Milestone",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetLosMilestone",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Current LOS Milestone",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsLosMilestonesResponse2"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found or no los milestone exists on the application",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "patch": {
        "description": "Update the los milestone on an application",
        "summary": "Patch Los Milestone",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PatchLosMilestone",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SingleLosMilestoneSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Updated LOS Milestone",
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "409": {
            "description": "Application already set to milestone from request body",
            "schema": {
              "$ref": "#/definitions/ConflictErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/assignees": {
      "get": {
        "description": "Gets the array of users currently assigned to the application",
        "summary": "List the Assigned Users on an Application",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "ListtheAssignedUsersonanApplication",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Assignees Successfully Retrieved",
            "schema": {
              "type": "array",
              "default": "",
              "items": {
                "$ref": "#/definitions/UserAssignmentSchema"
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "patch": {
        "description": "Adds assignees to the specified application.",
        "summary": "Patch the Assigned Users on an Application",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PatchtheAssignedUsersonanApplication",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserAssignmentRequestSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Added Users to Application Assignees",
            "headers": {}
          },
          "400": {
            "description": "Assignee users must exist and have permissions to be assigned to the application",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application or User Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "Completely overwrites current set of assigned users with provided users",
        "summary": "Override All Current Assignees on an Application",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "OverrideAllCurrentAssigneesonanApplication",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "autoAssignLoanTeam",
            "in": "query",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Automatically assign the primary assignee's loan team to the application."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserAssignmentRequestSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Overwrite of Application Assignees",
            "headers": {}
          },
          "400": {
            "description": "Assignee users must exist and have permissions to be assigned to the application",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application or User Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/{id}/itp": {
      "get": {
        "description": "Get Intent to Proceed (ITP) data. This endpoint will return information about the state of ITP on an application once the ITP workflow has been added or ITP has been given.",
        "summary": "Get Intent to Proceed",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "GetIntenttoProceed",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the Blend Application that ITP data is being retrieved for"
          }
        ],
        "responses": {
          "200": {
            "description": "Intent to Proceed data",
            "schema": {
              "$ref": "#/definitions/GetITPResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Intent to Proceed Not Found",
            "schema": {
              "$ref": "#/definitions/ITPNotFoundError"
            },
            "headers": {}
          },
          "429": {
            "description": "Rate Limited",
            "schema": {
              "$ref": "#/definitions/RateLimitedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "Post Intent to Proceed (ITP). This endpoint will add an ITP workflow to the specified borrower on an application, or mark ITP as complete if `givenAt` is supplied. Returns 409 Conflict if ITP workflow already exists for the specified `borrowerId`, or if ITP has already been given on the application `borrowerId` belongs to.",
        "summary": "Post Intent to Proceed",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PostIntenttoProceed",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the Blend application `borrowerId` belongs to."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Post Intent to Proceed Body",
            "schema": {
              "$ref": "#/definitions/HomeLendingApplicationsItpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Intent to Proceed data",
            "schema": {
              "$ref": "#/definitions/GetITPResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "409": {
            "description": "Conflict. Returned if ITP workflow already exists for a borrower, or ITP has already been given on the application the borrower belongs to.",
            "schema": {
              "$ref": "#/definitions/ConflictErrorSchema"
            },
            "headers": {}
          },
          "429": {
            "description": "Rate Limited",
            "schema": {
              "$ref": "#/definitions/RateLimitedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/employers/verified": {
      "get": {
        "description": "Gets a summary of verified employers data for an Application",
        "summary": "Get verified employers",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "Getverifiedemployers",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The application to retrieve verified employers for."
          }
        ],
        "responses": {
          "200": {
            "description": "Verified EmployersSummary for Application was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/VerifiedEmployersSchema"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/home-lending/applications/employers/reverify": {
      "post": {
        "description": "Initiates an asynchronous attempt to reverify employers for the specified application and employers.",
        "summary": "Post Employers Reverify",
        "tags": [
          "Home Lending - Applications"
        ],
        "operationId": "PostEmployersReverify",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmployersReverifyRequestSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An attempt to reverify employers for a partyId on the application has been initiated.",
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/documents": {
      "get": {
        "description": "Get a paginated list of documents",
        "summary": "Get Documents",
        "tags": [
          "Documents"
        ],
        "operationId": "GetDocuments",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An opaque string used for pagination, pass the cursor back to start at this position. Note that if you change any of the query parameters you used in the initial request, the cursor will be invalid and will not return the next page of results."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "The number of documents to be returned for this call. Minimum is 1, maximum is 100, default is 50."
          },
          {
            "name": "exported",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If exported is true, then the response only contains documents that have already been exported. If exported is false, then the response only contains documents that have not already been exported. Otherwise, the response returns documents independent of the exported field."
          },
          {
            "name": "uploadedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Returns only documents uploaded after this time (UTC ISO Timestamp)"
          },
          {
            "name": "uploadedBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Returns only documents uploaded before this time (UTC ISO Timestamp)"
          },
          {
            "name": "statusIncludes",
            "in": "query",
            "required": false,
            "enum": [
              "READY",
              "SIGNATURE_REQUESTED",
              "VOIDED"
            ],
            "type": "string",
            "description": "Comma delimited string of document statuses to filter for"
          }
        ],
        "responses": {
          "200": {
            "description": "List of paginated documents, with cursors to go the next or previous pages.",
            "schema": {
              "$ref": "#/definitions/DocumentsResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "Create a document on a specific application with a file and related metadata.",
        "summary": "Post Document",
        "tags": [
          "Documents"
        ],
        "operationId": "PostDocument",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "multipart/form-data"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "file",
            "description": "the file to be attached to the application"
          },
          {
            "name": "applicationId",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The UUID of the application in Blend's system. The static identifier that should be used to connect the application's identity across Blend and external integrations."
          },
          {
            "name": "type",
            "in": "formData",
            "required": false,
            "enum": [
              "LOE_PUBLIC_RECORD:BANKRUPTCY",
              "LOE_PUBLIC_RECORD:TAX_LIEN",
              "LOE_PUBLIC_RECORD:JUDGMENT",
              "LOE_LARGE_DEPOSITS:TRANSFER",
              "LOE_LARGE_DEPOSITS:SALE_OF_ASSET",
              "LOE_LARGE_DEPOSITS:INCOME",
              "LOE_LARGE_DEPOSITS:GIFT",
              "LOE_LARGE_DEPOSITS:OTHER",
              "BANK_STATEMENT",
              "BANK_STATEMENT:_MUTUAL_FUND_ACCOUNT",
              "BANK_STATEMENT:_STOCK_ACCOUNT",
              "FINANCIAL_STATEMENT:_BALANCE_SHEET",
              "FINANCIAL_STATEMENT:_INCOME",
              "IRS1040",
              "IRS1041",
              "IRS1120",
              "IRS1120_S",
              "LLC_BTR_DOC",
              "IRSW2",
              "CRAT4",
              "1003",
              "4506t",
              "TAX_TRANSCRIPT",
              "DOCUSIGN_CERT_OF_COMP",
              "PAY_STUB",
              "PROPERTY_INSURANCE_POLICY:_GENERAL",
              "PROPERTY_INSURANCE_POLICY:_MINE_SUBSIDENCE",
              "PROPERTY_INSURANCE_POLICY:_INSECT_INFESTATION",
              "PROPERTY_INSURANCE_POLICY:_HOMEOWNERS",
              "PROPERTY_INSURANCE_POLICY:_VOLCANO",
              "PROPERTY_INSURANCE_POLICY:_FLOOD",
              "PROPERTY_INSURANCE_POLICY:_HAZARD",
              "INSURANCE_AGENT_CONTACT_INFO",
              "PURCHASE_AGREEMENT",
              "OTHER_DISCLOSURES",
              "REQUEST_FOR_COPY_OF_TAX_RETURN:_IRS4506_T",
              "RETIREMENT_ACCOUNT_STATEMENT",
              "SOCIAL_SECURITY_AWARD_LETTER",
              "TRUST_AGREEMENT",
              "VERIFICATION_OF_EMPLOYMENT",
              "VERIFICATION_OF_EMPLOYMENT_REVERIFY",
              "VERIFICATION_OF_EMPLOYMENT_RETRIEVED",
              "VERIFICATION_OF_INCOME",
              "PENSION_AWARD_LETTER",
              "ANNUITY_AWARD_LETTER",
              "DEFERRED_COMPENSATION_AWARD_LETTER",
              "VERIFICATION_OF_MORTGAGE_OR_RENT",
              "VERIFICATION_OF_RENT",
              "VERIFICATION_OF_MORTGAGE",
              "RETIREMENT_LIQUIDITY_TERMS",
              "LETTER_OF_EXPLANATION:_CREDIT_INQUIRY",
              "LETTER_OF_EXPLANATION:_DEROGATORY_CREDIT",
              "LETTER_OF_EXPLANATION:_ADDRESS_VERIFICATION",
              "LETTER_OF_EXPLANATION:_JOB_GAP",
              "LETTER_OF_EXPLANATION:_LARGE_DEPOSITS",
              "LETTER_OF_EXPLANATION:SHORT_SALE",
              "PROPERTY_TAX_BILL",
              "MORTGAGE_STATEMENT",
              "BORROWER_CONSENT_FORM",
              "BORROWER_INCOME_VERIFICATION_CONSENT_FORM",
              "APPRAISAL_WAIVER",
              "INTENT_TO_PROCEED",
              "NATIONAL_IDENTIFICATION",
              "PROPERTY_INSURANCE_POLICY:_MASTERPOLICY_ASSN",
              "MARRIAGE_CERTIFICATE",
              "DEATH_CERTIFICATE",
              "DIVORCE_DECREE",
              "NATIONAL_IDENTIFICATION:_SOCIAL_SECURITY_CARD",
              "CONDOMINIUM_OCCUPANCY_CERTIFICATE",
              "HOMEOWNERS_ASSOCIATION_CERTIFICATION",
              "BANK_DEPOSIT_SLIP",
              "PROPERTY_INSURANCE_POLICY:_HURRICANE",
              "PROPERTY_INSURANCE_POLICY:_LEASEHOLD",
              "PROPERTY_INSURANCE_POLICY:_PERSONAL_PROPERTY",
              "PROPERTY_INSURANCE_POLICY:_STORM",
              "PROPERTY_INSURANCE_POLICY:_TORNADO",
              "PROPERTY_INSURANCE_POLICY:_WIND",
              "CREDIT_REPORT",
              "PERMANENT_RESIDENT_IDENTIFICATION",
              "PROPERTY_INSURANCE_POLICY:_CONDOMINIUM",
              "APPRAISAL_REPORT_SINGLE FAMILY",
              "APPRAISAL_REPORT_2_-_4_UNIT",
              "APPRAISAL_REPORT_MANUFACTURED_HOME",
              "APPRAISAL_REPORT_COOP",
              "APPRAISAL_REPORT_EXTERIOR_ONLY",
              "APPRAISAL_REPORT_AVM",
              "APPRAISAL_REPORT_RENT_SURVEY",
              "APPRAISAL_REPORT_OPERATING_INCOME_SCHEDULE",
              "APPRAISAL_REPORT_MARKET_CONDITIONS_ADDENDUM",
              "APPRAISAL_REPORT_UPDATE_AND_OR_COMPLETION_REPORT",
              "APPRAISAL_REPORT_PROPERTY_CONDITION_REPORT",
              "APPRAISAL_REPORT_DESK_REVIEW",
              "SETTLEMENT_STATEMENT_HUD1",
              "VISA",
              "PASSPORT",
              "NATIONAL_IDENTIFICATION_NON_PERMANENT_RESIDENT",
              "DD_214",
              "VA_STATEMENT_OF_SERVICE",
              "VA_CERTIFICATE_OF_ELIGIBILITY",
              "CREDIT_AUTHORIZATION",
              "CREDIT_CARD_AUTHORIZATION",
              "BIRTH_CERTIFICATE",
              "INVOICE_UTILITY_BILL",
              "ADDRESS_VERIFICATION",
              "LETTER_OF_EXPLANATION_NAME_VARIATION",
              "POWER_OF_ATTORNEY",
              "RENTAL_AGREEMENT",
              "RENTAL_SECURITY_DEPOSIT",
              "VERIFICATION_OF_EMPLOYMENT_LETTER",
              "VERIFICATION_OF_EMPLOYMENT_WRITTEN",
              "BUSINESS_LICENSE",
              "IRS1099",
              "K1",
              "IRS1065",
              "SOCIAL_SECURITY_PROOF_OF_RECEIPT",
              "EMPLOYMENT_OFFER_LETTER",
              "RENTAL_INCOME_PROOF_OF_RECEIPT",
              "RETIREMENT_AWARD_LETTER",
              "VA_CHILD_CARE_CERTIFICATE",
              "VA_AWARD_LETTER",
              "BONUS_AND_COMMISSION_DOCUMENTATION",
              "CHILD_SUPPORT_INCOME",
              "ALIMONY_INCOME",
              "CHILD_SUPPORT_LIABILITY",
              "ALIMONY_LIABILITY",
              "GENERATED_ASSET_STATEMENT",
              "ACHDEBIT_AUTHORIZATION",
              "GIFT_LETTER",
              "PROOF_OF_LIQUIDATION",
              "CREDIT_REPORT_NON_TRADITIONAL",
              "CREDIT_SUPPLEMENT",
              "BANKRUPTCY_DISCHARGE_NOTICE",
              "BANKRUPTCY_FILING",
              "SATISFACTION_OF_SECURITY_INSTRUMENT_LIEN_RELEASE",
              "FRAUD_ALERT",
              "STATEMENT_CREDIT_CARD_OR_INSTALLMENT_ACCT",
              "JUDGMENT",
              "COSIGNED_LIABILITY",
              "PURCHASE_AGREEMENT_ADDENDUM",
              "HOME_INSPECTION_REPORT",
              "PEST_INSPECTION_REPORT",
              "ROOF_INSPECTION_REPORT",
              "POOL_INSPECTION_REPORT",
              "EARNEST_MONEY_DEPOSIT",
              "FLOOD_HAZARD_NOTICE",
              "FLOOD_CERTIFICATION",
              "TAX_CERTIFICATE",
              "AMENDATORY_CLAUSE",
              "PAYOFF_STATEMENT",
              "CLOSING_PROTECTION_LETTER",
              "SCHEDULE_OF_REAL_ESTATE",
              "BORROWER_CERTIFICATION",
              "OCCUPANCY_CERTIFICATION",
              "TRUTH_IN_LENDING",
              "GOOD_FAITH_ESTIMATE",
              "ESCROW_WAIVER",
              "LOAN_ESTIMATE",
              "CLOSING_DISCLOSURE",
              "GENERAL_LOAN_ACKNOWLEDGMENT",
              "HUD_VA_ADDENDUM",
              "BORROWER_CORRESPONDENCE:_LETTER_OF_EXPLANATION",
              "BORROWER_CORRESPONDENCE:_LETTER_OF_EXPLANATION_OCCUPANCY",
              "BORROWER_CORRESPONDENCE:_LETTER_OF_EXPLANATION_CASHOUT",
              "MORTGAGE_INSURANCE",
              "NET_TANGIBLE_BENEFIT",
              "NOTE",
              "HOA_BILL",
              "ARTICLES_OF_INCORPORATION",
              "BYLAWS_OPERATING_AGREEMENT",
              "AFFILIATED_BUSINESS_ARRANGEMENT_DISCLOSURE",
              "DISCLOSURES_TRACKING_REPORT",
              "ENERGY_EFFICIENT_MORTGAGE_WORKSHEET",
              "IMPORTANT_NOTICE_TO_HOMEBUYER",
              "FAIR_LENDING_NOTICE",
              "FOR_YOUR_PROTECTION_HOME_INSPECTION",
              "RATE_LOCK_AGREEMENT",
              "BOND_CERTIFICATE",
              "CUSTOMER_IDENTIFICATION_VERIFICATION",
              "VERIFICATION_OF_SSN",
              "RESIDUAL_INCOME_LETTER",
              "OTHER",
              "DU_UNDERWRITING_FINDINGS",
              "DU_UNDERWRITING_LOG",
              "DU_UNDERWRITING_DEFAULTS",
              "OTHER_APPLICATION",
              "PRE_QUALIFICATION_LETTER",
              "APPRAISAL",
              "PRE_APPROVAL_LETTER",
              "PRE_APPROVAL_LETTER:_PREVIEW",
              "COMPLIANCE_REPORT",
              "LOAN_SNAPSHOT",
              "HMDA_REPORT",
              "ATTACHMENT",
              "LETTER_OF_EXPLANATION:_GENERATED_CREDIT_INQUIRY",
              "LETTER_OF_EXPLANATION:_GENERATED_ADDRESS_VERIFICATION",
              "GENERATED_GIFT_LETTER",
              "LETTER_OF_EXPLANATION:_GENERATED_LATE_PAYMENT",
              "LETTER_OF_EXPLANATION:_GENERATED_PUBLIC_RECORD",
              "LETTER_OF_EXPLANATION:_GENERATED_LARGE_DEPOSIT",
              "MEDICAL_RESIDENCY_FELLOWSHIP",
              "MEDICAL_LICENSE_DIPLOMA",
              "NEAREST_LIVING_RELATIVE",
              "EMPLOYMENT_CONTRACT",
              "GENERATED_COST_WORKSHEET",
              "FNMA_NETPAY_REPORT_ASSETS",
              "FNMA_NETPAY_REPORT_INCOME",
              "FNMA_NETPAY_BORROWERS_REQUEST",
              "FNMA_NETPAY_GSE_API_XML",
              "KNOW_YOUR_CUSTOMER",
              "CLOSING_PACKAGE",
              "PROMISSORY_NOTE",
              "DEED_OF_TRUST",
              "TITLE_DOCUMENT",
              "CLOSING_SETTLEMENT_ONLY"
            ],
            "type": "string",
            "description": "Blend document type"
          },
          {
            "name": "losType",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "LOS document type (used with Blend document templating)"
          },
          {
            "name": "losTypeId",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "LOS document id (used for external tracking)"
          },
          {
            "name": "partyIds",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "UUIDs of the Parties associated with this document"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "status",
            "in": "formData",
            "required": false,
            "enum": [
              "SIGNATURE_REQUESTED",
              "READY"
            ],
            "type": "string",
            "description": "ENUM describing the Document Status"
          },
          {
            "name": "shareWithAllParties",
            "in": "formData",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "If set to true, uploaded document becomes accessible to borrowers; otherwise, only lender can view the document"
          },
          {
            "name": "customFields",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "field name of the custom field"
          },
          {
            "name": "customMetadata",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "field name of the custom metadata"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Uploaded Document File and Metadata",
            "schema": {
              "$ref": "#/definitions/DocumentSchema"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "description": "Download the file associated with a document",
        "summary": "Get Document Data",
        "tags": [
          "Documents"
        ],
        "operationId": "GetDocumentData",
        "deprecated": false,
        "produces": [
          "application/pdf",
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the Document in Blend's system. The static identifier that should be used to connect the document's identity across Blend and external integrations."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Exported Document Binary",
            "schema": {
              "type": "object",
              "default": ""
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "patch": {
        "description": "Update a document's export status",
        "summary": "Patch Document Data",
        "tags": [
          "Documents"
        ],
        "operationId": "PatchDocumentData",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the Document in Blend's system. The static identifier that should be used to connect the document's identity across Blend and external integrations."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Document export status parameters",
            "schema": {
              "$ref": "#/definitions/DocumentsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Update",
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/documents/{id}/metadata": {
      "get": {
        "description": "Get all metadata associated with a document",
        "summary": "Get Document Metadata",
        "tags": [
          "Documents"
        ],
        "operationId": "GetDocumentMetadata",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the Document in Blend's system. The static identifier that should be used to connect the document's identity across Blend and external integrations."
          }
        ],
        "responses": {
          "200": {
            "description": "Document Metadata",
            "schema": {
              "$ref": "#/definitions/DocumentSchema"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/documents/{id}/export-statuses": {
      "get": {
        "description": "Get all export statuses of the document",
        "summary": "Get Document Export Statuses",
        "tags": [
          "Documents"
        ],
        "operationId": "GetDocumentExportStatuses",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The UUID of the Document in Blend's system. The static identifier that should be used to connect the document's identity across Blend and external integrations."
          },
          {
            "name": "exportedTo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Static identifier of this document in the LOS"
          },
          {
            "name": "exportedBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Returns only documents uploaded before this time (UTC ISO Timestamp)"
          },
          {
            "name": "exportedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Returns only documents uploaded after this time (UTC ISO Timestamp)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of document export statuses",
            "schema": {
              "$ref": "#/definitions/DocumentsExportStatusesResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/tax-transcripts": {
      "get": {
        "description": "Gets Tax Transcripts structured data for a particular 4506T document",
        "summary": "Get Tax Transcripts",
        "tags": [
          "Tax transcripts"
        ],
        "operationId": "GetTaxTranscripts",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The documentId of the 4506T form"
          }
        ],
        "responses": {
          "200": {
            "description": "Tax transcript data was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/TaxTranscriptsSchema"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Application Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/packages": {
      "post": {
        "description": "Post a package to an application.",
        "summary": "Post a package",
        "tags": [
          "Packages"
        ],
        "operationId": "Postapackage",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Package creation body",
            "schema": {
              "$ref": "#/definitions/PackagePostSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Package details",
            "schema": {
              "$ref": "#/definitions/PackagesResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Packages400Error1"
            },
            "headers": {}
          }
        }
      },
      "get": {
        "description": "Retrieve all packages for an application. Optional query parameters available to filter.",
        "summary": "Retrieve all packages for an application",
        "tags": [
          "Packages"
        ],
        "operationId": "Retrieveallpackagesforanapplication",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Application UUID"
          },
          {
            "name": "foreignPackageId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "External package id provided by partner"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "enum": [
              "CREATED",
              "DELIVERED",
              "VIEWED",
              "SIGNED",
              "COMPLETED",
              "DECLINED",
              "FAILED_TO_CREATE",
              "CANCELLED"
            ],
            "type": "string",
            "description": "Package status"
          }
        ],
        "responses": {
          "200": {
            "description": "Package details",
            "schema": {
              "$ref": "#/definitions/PackagesResponse1"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Packages400Error1"
            },
            "headers": {}
          }
        }
      }
    },
    "/packages/{id}": {
      "get": {
        "description": "Retrieve details about a package",
        "summary": "Retrieve a package",
        "tags": [
          "Packages"
        ],
        "operationId": "Retrieveapackage",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Package UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Package details",
            "schema": {
              "$ref": "#/definitions/PackageResponseSchema"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Packages400Error1"
            },
            "headers": {}
          }
        }
      },
      "patch": {
        "description": "Update a package to CANCELLED status or set a paperedAt date",
        "summary": "Update a package",
        "tags": [
          "Packages"
        ],
        "operationId": "Updateapackage",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Package UUID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json; charset=utf-8"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "Update package body",
            "schema": {
              "$ref": "#/definitions/PackagesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response body provided",
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Packages400Error1"
            },
            "headers": {}
          }
        }
      }
    },
    "/parties/{id}/employers": {
      "get": {
        "description": "Get details about party employers.",
        "summary": "Get Party Employers",
        "tags": [
          "Parties"
        ],
        "operationId": "GetPartyEmployers",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Party UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Employers for the party",
            "schema": {
              "$ref": "#/definitions/EmployerResponseSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "Create employers and incomes for party.",
        "summary": "Post Party Employers",
        "tags": [
          "Parties"
        ],
        "operationId": "PostPartyEmployers",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Party UUID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Party employers creation body",
            "schema": {
              "$ref": "#/definitions/EmployerIngestSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employers for the party",
            "schema": {
              "$ref": "#/definitions/PartiesEmployersResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/parties": {
      "post": {
        "description": "Add a party to a specific application.",
        "summary": "Post Parties",
        "tags": [
          "Parties"
        ],
        "operationId": "PostParties",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Party parameters",
            "schema": {
              "$ref": "#/definitions/PartiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created Party",
            "schema": {
              "$ref": "#/definitions/PartyResponseSchema"
            },
            "examples": {
              "application/json; charset=utf-8": {
                "id": "bca86e3e-ce8b-4e04-b841-bf7e31f91eb3",
                "applicationId": "a5ded618-3a1d-44d3-ba34-9df57eb72c26",
                "name": {
                  "firstName": "John",
                  "middleName": "Angel",
                  "lastName": "Hernandez",
                  "suffixName": "Jr."
                },
                "email": "john@email.com",
                "type": "SPOUSE",
                "losPartyId": "externalId1"
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/NotAuthorizedErrorSchema"
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApplicationNotFoundErrorSchema"
            },
            "headers": {}
          },
          "500": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorSchema"
            },
            "headers": {}
          }
        }
      }
    },
    "/parties/{id}": {
      "patch": {
        "description": "Update a party's details.",
        "summary": "Patch Party",
        "tags": [
          "Parties"
        ],
        "operationId": "PatchParty",
        "deprecated": false,
        "produces": [
          "application/json; charset=utf-8"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Party id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Party update parameters",
            "schema": {
              "$ref": "#/definitions/PartiesRequest1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Party",
            "schema": {
              "$ref": "#/definitions/PartyResponseSchema"
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid Request",
            "schema": {
              "$ref": "#/definitions/InvalidRequestErrorSchema"
            },
            "headers": {}
          },
          "401": {
            "description": "Invalid Credentials",
            "schema": {
              "$ref": "#/definitions/AuthenticationRequiredErrorSchema"
            },
            "headers": {}
[...]
